article{
    background-color: rgb(253 247 228);
    color: rgb(90 40 15);
    display: flex;
    flex-direction: column-reverse;
    align-content:space-evenly ;
    padding: 1.3em;
    max-width: 578px;
    flex-wrap: wrap;
    border-radius: 25px;
}

article h2{
    margin:0;
    margin-top: 1em;
    
}
.article-text {
display: flex;
flex-direction: column;
}
.article-img img{
    width:100%;
  
}
.article-text p{

    margin-bottom: 1.5em;
}