nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
nav{
    background-color: rgb(253 247 228);
    display: flex;
    min-width: 576px;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 40px;
    
}
nav ul li{
    background-color:rgb(240 223 145) ;
  
    padding:0.6em 1em;
    border-radius: 35px;
    font-size: small;
    color: rgb(90 40 15);
    font-weight: 300;
}
ul li:nth-child(3){
    display: flex;
    flex-direction: row;
    padding: 0.4em 0.5em;
    font-size:20px;
    align-items: center;
    font-weight: 600;
}
li img{
    margin-right: 20px;
}